/* CSS Entry Point */
.sections {
	margin-bottom: 30px;
}

.sections h2 {
	color: white;
	background-color: #16c5e3;
	// border: 1px solid red;
    padding: 15px;
}


.sections h2:hover {
	background: #26d5f3;
}



.box {
	border: 1px solid red;
 	margin-right: 150px;
 	margin-left: 150px;
	margin-bottom: 75px;
}

// #box2 {transition: all;
// 	position: absolute;
// 	top: 60px;
// }

// #box3 {transition: all;
// 	position: absolute;
// 	top: 125px;
//}

